In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('results_corr.csv')
data['bias_squared'] = data['bias'] ** 2
data.head()

   Function  rho  test_id      bias  variance       mse  bias_squared
0  func_cos  0.0        1 -0.154860  0.046271  0.070252      0.023981
1  func_cos  0.0        2 -0.224360  0.108571  0.158908      0.050338
2  func_cos  0.0        3  0.006468  0.004939  0.004981      0.000042
3  func_cos  0.0        4 -0.138988  0.015058  0.034376      0.019318
4  func_cos  0.0        5 -0.002519  0.004556  0.004563      0.000006

In [3]:
data_melted = data.melt(id_vars=['Function', 'rho','test_id'], var_name='statistics', value_name='value')
# drop statistis = bias
data_melted = data_melted[data_melted['statistics'] != 'bias']
data_melted.drop(columns=['test_id'], inplace=True)

In [4]:
data_melted['Function'] = data_melted['Function'].apply(lambda x: '_'.join(x.split('_')[1:]))
data_melted.head()

     Function  rho statistics     value
4400      cos  0.0   variance  0.046271
4401      cos  0.0   variance  0.108571
4402      cos  0.0   variance  0.004939
4403      cos  0.0   variance  0.015058
4404      cos  0.0   variance  0.004556